
# Virtual environments
.venv/
venv/

# Data (parquet file output from notebooks)
data/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Temp / OS files
*.tmp
*.log
*.bak
logs/
# Environment variables
.env

# dbt (local & generated artifacts)
criteo_dbt/profiles.yml
criteo_dbt/.user.yml
criteo_dbt/target/
criteo_dbt/logs/
criteo_dbt/dbt_packages/